/* font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */
.inline-block{
    display: inline-block;
}.container{
    width: 1175;
    padding: 33px 120px 58px;
    display: inline-flex;
}
header{
    position: fixed;
    top: 0;
}
body{
    background-color: #F6F8F9;
}
.logo{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color:#FA6980;
    margin: 18px 63px 17px 20px;
    
}
.nav-li{
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color: #343638;
    margin-right: 27px;
    margin-bottom: 50px;
    text-transform: uppercase;
    
}
.nav-icon{
    width: 30px;
    height: 30px;
}
/* 1section */
.section-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 0 33px 120px; 
}
.box{
    position: relative;
}
.section-img, .section-img2, .section-img3 {
    width: 320px;
    height: 310px;
    margin-right: 40px;
}
.section-p,.section-p2,.section-p3 {
    position: absolute;
    top:75%;
    left:1%;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #A6ADB4;
}
/* 2section */
.box-image{
    margin-bottom: 40px;
    margin-right: 15px;
}
.box-image, .box-image2{
    width: 700px;
    height: 400px;
}
.box-image3,.box-image4,.box-image5{
    width: 360px;
    height: 210px;
    margin-bottom: 100px;
}
/* footer */
footer{
    background-color: #A6ADB4;
    height: 206px;
}
.footer-logo{
    font-size: 13px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    vertical-align: top;
    margin-right: 90px;
}
.footer-list{
    vertical-align: top;
    margin-right: 90px;
}
.list-stytle{
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    vertical-align: top;
    margin-bottom: 4px;
}
.footer-p{
color:#CBD0D3;
font-size: 11px;
font-family: 'Poppins', sans-serif;
}


